apiVersion: v1
kind: Service
metadata:
  name: SERVICE_NAME-ENVIRONMENT-svc
  namespace: default
  labels:
    app: SERVICE_NAME-ENVIRONMENT
spec:
  selector:
    app: SERVICE_NAME-ENVIRONMENT
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
